<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
{{> aside  }}
<main class="md:ml-64 h-auto pt-20">
    {{#with turno}}
    <div class="border-1 border-gray-300 dark:border-gray-600 mb-4">
        <div class="p-2 flex justify-between items-center px-4 rounded-t border-b dark:border-gray-600">

            <h4 class="text-2xl md:block font-semibold text-gray-900 dark:text-white">Listado de Turnos por Cliente: {{cliente.nombre}} {{cliente.apellido}}</h4>
            {{!-- <button type="button"
                    class="text-white bg-blue-600 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="defaultModal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"></path>
                </svg>
            </button> --}}
        </div>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID - Turno
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fecha de Turno
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Hora de Turno
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Empleado
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Servicios
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{id}}</th>
                    <td class="px-6 py-4">{{fecha}}</td>
                    <td class="px-6 py-4" >{{hora}}</td>
                    <td class="px-6 py-4" >{{usuario.nombre}} {{usuario.apellido}}</td>
                    {{#each servicios}} 
                    <td class="px-6 py-4" >{{nombre}}</td>
                    {{/each}}
                </tr>
                </tbody>
                <tfoot>
                <tr class="font-semibold text-gray-900 dark:text-white">

                </tr>
                        
                <button type="submit"
                    class="text-white inline-flex items-center hover:bg-green-800 focus:ring-4 focus:outline-none 
                    focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
                    bg-green-600 dark:hover:bg-green-600 dark:focus:ring-green-800"
                    value="REALIZADO">Turno Realizado</button>
                </tfoot>
            </table>
        </div>
        {{/with}}
    </div>
</main>
</body>
</html>